mongodb:
    url: mongodb://localhost:27017/
    database: hatemap
    collection: all_tweets4
twitter:
    configuration:
        barer_token: AAAAAAAAAAAAAAAAAAAAAAPtPgEAAAAAoVlZ4I0szkcu4dL%2Bhqif%2F%2BF45Oo%3DJbvSo773bskLu1GexDv9Dq1HjuSjfSwfxgLdDXEdlPO5mKyE6G
        end_point: https://api.twitter.com/2/tweets/search/all
    search:
        # MANDATORY:
        # Please fill at least one of the following fields. If both fields are set it's possible to search for a twitter with the given keyword tweeted by the specific user.

        # enter the keyword/s to search for on twitter. It's also possible use logical operators. If no logical operator are specified all keywords will be searched in AND.
        # the AND operator is handle by a space, so to search "Joe AND Trump" just write "Joe Trump", the OR operator is "OR".
        # for example: "Joe Biden", "Biden OR Trump", "(Biden OR Trump) whitehouse" (the last query means: "(Biden OR Trump) AND whitehouse").
        keyword: covid

        # enter the username or the user id to search for tweets of a specific user.
        user:

        #OPTIONAL:
        # the language of the tweets
        lang: it

        # enable/disbale the twitter context annotation in the twitter response
        context_annotations: True

        # the max results of tweets
        n_results: 10
        # possible value: True/False
        # if this field is set to True the value on n_result it automatically overwrite and set to 500.
        all_tweets: False
        # please see here for information about time fields: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
        # you can set:
            # 1. only start_time: if you specify only start time but no end time, end time will be assumed to be current time (-30 sec). (see https://twittercommunity.com/t/twitter-api-v2-search-endpoint-what-is-start-time-and-end-time-actual-default/152679)
            # 2. only end_time: If you specify only end time, start time will be assumed 30 days before the end time specified. (see https://twittercommunity.com/t/twitter-api-v2-search-endpoint-what-is-start-time-and-end-time-actual-default/152679)
            # 3. both: the tweets in the range specified
            # 4. none: By default, a request will return Tweets from up to 30 days ago if you do not include this parameters. (see https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all)
        time:
            # format: YYYY-MM-DDTHH:mm:ssZ (ISO 8601/RFC 3339)
            # example value: 2018-10-19T07:20:50.52+00:00
            start_time:
            end_time:
        # geo parameter.
        # only one of the following fields could be set
        geo:
            place:
            place_country:
            # example value: -105.301758 39.964069 -105.178505 40.09455
            bounding_box:
            # please if you want search by point radius set all the parameters in the point_radius section.
            point_radius:
                # example value: 2.355128
                longitude:
                # 48.861118
                latitude:
                # 16km
                radius:
        #Possible values: True/False. When is True only tweet that are not retweet are retrieved. default value: False.
        filter_retweet: False