twitter:
  configuration:
    barer_token: AAAAAAAAAAAAAAAAAAAAAAPtPgEAAAAAoVlZ4I0szkcu4dL%2Bhqif%2F%2BF45Oo%3DJbvSo773bskLu1GexDv9Dq1HjuSjfSwfxgLdDXEdlPO5mKyE6G
    end_point: https://api.twitter.com/2/tweets/search/all
  search:
    all_tweets: false
    context_annotations: false
    filter_retweet: true
    geo:
      bounding_box: null
      place: null
      place_country: null
      point_radius:
        latitude: null
        longitude: null
        radius: null
    keyword: null
    lang: it
    n_results: 100
    time:
      end_time: '2022-02-06T07:20:50.52+00:00'
      start_time: '2017-10-19T07:20:50.52+00:00'
    user: Zanichelli_ed
