twitter:
  configuration:
    barer_token: AAAAAAAAAAAAAAAAAAAAAAPtPgEAAAAAoVlZ4I0szkcu4dL%2Bhqif%2F%2BF45Oo%3DJbvSo773bskLu1GexDv9Dq1HjuSjfSwfxgLdDXEdlPO5mKyE6G
    end_point: https://api.twitter.com/2/tweets/search/all
  search:
    all_tweets: false
    context_annotations: false
    filter_retweet: false
    geo:
      bounding_box: null
      place: null
      place_country: null
      point_radius:
        latitude: null
        longitude: null
        radius: null
    keyword: null
    lang: it
    n_results: 40
    time:
      end_time: null
      start_time: null
    user: semeraro_g
